# Node modules
node_modules/

# Logs
logs
*.log
*.log.*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build directories
/dist
/build

# System files
.DS_Store
Thumbs.db

# IDE or editor specific files
.vscode/
.idea/

# NPM package lock files (optional, depending on your use case)
# package-lock.json
# yarn.lock